<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs309.travelender">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cs309.travlender.ZSQ.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cs309.travlender.ZSQ.EventActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="cs309.travlender.ZXX.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cs309.travlender.ZXX.SearchActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="cs309.travlender.ZXX.SearchResultActivity"></activity>
    </application>

</manifest>